#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  background-color: #ffffff; /* Cor de fundo branco */
  padding: 16px; /* Espaçamento interno de 16px */
}

h2 {
  color: #007bff; /* Cor azul para os títulos */
}

label {
  margin-bottom: 8px; /* Margem inferior de 8px para os rótulos */
}

input,
select {
  width: 100%; /* Largura de 100% para os campos de entrada de texto e seleção */
  padding: 8px; /* Espaçamento interno de 8px nos campos de entrada de texto e seleção */
  margin-bottom: 16px; /* Margem inferior de 16px nos campos de entrada de texto e seleção */
}

select {
  margin-bottom: 32px; /* Margem inferior de 32px para a seleção de peças */
}

button {
  background-color: #007bff; /* Cor de fundo azul para os botões */
  color: #ffffff; /* Cor do texto branco para os botões */
  padding: 8px 16px; /* Espaçamento interno de 8px nas laterais e 16px no topo/baixo dos botões */
  margin-right: 8px; /* Margem direita de 8px para os botões */
  cursor: pointer; /* Altera o cursor para o estilo de ponteiro */
}

button {
  margin-bottom: 16px; /* Margem inferior de 16px para os botões de tipo button */
  color: #007bff;
}

p {
  margin-bottom: 8px; /* Margem inferior de 8px para os parágrafos */
}